<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="nomeDesafio" value="Desafio Automação Fernando Ferreira" />
	  <add key="URL" value="http://192.168.99.100:8989" />
    <add key="username" value="administrator" />
    <add key="password" value="123456" />
    <add key="projeto" value="ProjetoTeste2" />
    <add key="projetocriado" value="Projeto Teste Automation" />
    <add key="usuariocriado" value="Usuario Teste" />
    <add key="NavegadorDefault" value="chrome"/>
    <add key="IpHub" value="http://192.168.0.10:4444/wd/hub"/>
    <add key="Local" value="true"/>
  </appSettings>
</configuration>