<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="administrator" />
    <add key="password" value="qwe" />
    <add key="projeto" value="ProjetoTeste2" />
    <add key="projetocriado" value="Projeto Teste Automation" />
    <add key="usuariocriado" value="Usuario Teste" />

  </appSettings>
</configuration>